<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="./output.css" rel="stylesheet" />
  </head>
  <body>
    
<body>
  <main class="p-5 h-min " id="customers_table">
      
      <section class="w-full rounded-lg shadow p-3">
        <div class="p-3">
            <main>
                <div class="flex flex-col gap-8 overflow-auto justify-evenly sm:flex-row sm:justify-evenly">
                    <div class="px-4 py-4 rounded-2xl bg-gray-100 shadow-md flex-grow-1 basis-1/3">
                      <h2 class="text-2xl font-bold">Client Details:</h2>
                      <p class="text-lg m-1">Rabin D Thapa</p>
                      <p class="text-lg m-1">981122333322</p>
                    </div>
                    <div class="px-4 py-4 rounded-2xl bg-gray-100 shadow-md flex-grow-1 basis-1/3">
                      <h2 class="text-2xl font-bold">Shipment Details:</h2>
                      <p class="text-lg m-1">Country of Import: China</p>
                      <p class="text-lg m-1">Flight Date: 2023-23-23</p>
                      <p class="text-lg m-1">Weight: 50KG</p>
                    </div>
                    <div class="px-4 py-4 rounded-2xl bg-gray-100 shadow-md flex-grow-1 basis-1/3">
                      <h2 class="text-2xl font-bold">CRM Details:</h2>
                      <p class="text-lg m-1">Rohit Rauniyar</p>
                      <p class="text-lg m-1">9822323123</p>
                    </div>
                  </div>
                  
                  
         <div class="overflow-auto rounded-lg shadow mt-5">
            <table class="w-full">
                <thead class="bg-gray-50 border-b-2 border-gray-200">
                    <tr>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left"> Sub-Shipment No.</th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left"> Category </th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left"> Product </th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left"> Quantity </th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left"> Status </th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left"> Last Updated </th>
                        <th class="p-3 text-sm font-semibold tracking-wide text-left"> More </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100">
                    <tr >
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap"> RG001-A </td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap">Approved</td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap"> Foods </td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap"> 17 </td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap">Delivered</td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap">Dec 17, 2023</td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap"><button class="bg-rodhi-red hover:bg-rodhi-blue p-2 rounded-md text-white">View More</button></td>
  
                    </tr>
                    <tr>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap"> RG001-A </td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap">Approved</td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap"> Foods </td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap"> 17 </td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap">Delivered</td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap">Dec 17, 2023</td>
                        <td class="p-3 text-sm text-gray-900 whitespace-nowrap"><button class="bg-rodhi-red hover:bg-rodhi-blue p-2 rounded-md text-white">View More</button></td>
  
                    </tr>
                   
                </tbody>
            </table>
         </div>
      </section>
  </main>

  </body>
</html>
